// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-purple: #8568bb;
	--ion-color-purple-rgb: 133,104,187;
	--ion-color-purple-contrast: #000000;
	--ion-color-purple-contrast-rgb: 0,0,0;
	--ion-color-purple-shade: #755ca5;
	--ion-color-purple-tint: #9177c2;
}

.ion-color-purple {
	--ion-color-base: var(--ion-color-purple);
	--ion-color-base-rgb: var(--ion-color-purple-rgb);
	--ion-color-contrast: var(--ion-color-purple-contrast);
	--ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb);
	--ion-color-shade: var(--ion-color-purple-shade);
	--ion-color-tint: var(--ion-color-purple-tint);
}
